/* general styles */



/* Media queries for screens smaller than 600px */
@media (max-width: 600px) {

  /* Adjust header size */
  header {
    font-size: 20px;
  }

  /* Adjust location list height */
  #locations {
    max-height: 50vh;
  }

  /* Adjust button container */
  #buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* Adjust buttons */
  #find-middle-point-button {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #reload-button {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  /* Adjust map size */
  #map {
    height: 50vh;
  }
}

/* Media queries for screens between 600px and 900px */
@media (min-width: 600px) and (max-width: 900px) {

  /* Adjust header size */
  header {
    font-size: 22px;
  }

  /* Adjust location list height */
  #locations {
    max-height: 60vh;
  }

  /* Adjust button container */
  #buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* Adjust buttons */
  button{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .button{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #reload-button {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  /* Adjust map size */
  #map {
    height: 50vh;
  }
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #BF9C69;
}

header {
  background-color: #BF9C69;
  color: #565655;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 30px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}


/* map styles */
#map {
  width: 100%;
  height: 50%;
  position: relative;
}

.ol-attribution {
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 1px;
}

.attribution {
  font-size: 8px;
}

/* marker list styles */
#locations {
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#locations li {
  margin-bottom: 5px;
  list-style-type: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  width: auto;
}

#locations li:hover {
  background-color: #c5c5c5;
}

#buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  bottom: 10px;
  left: 50%;
  background-color: #AB6F82;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.button:hover{
  background-color: #5f404a;
  color: #ffffff;
}

button {
  font-size: 200px;
  margin-left: 10px;
  bottom: 10px;
  background-color: #AB6F82;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

button:hover{
  background-color: #5f404a;
  color: #ffffff;
}

#user-guide {
  padding: 10px;
  color: #ffffff;
}

/* Adjust map size */
#map {
  height: 50vh;
  width: 100%;
}